# Database Configuration
DB_URL=postgresql://postgres:postgres@localhost:5432/neso_solar

# country code for fetching data. Other options are "nl", "de", "be", "ind_rajasthan"
COUNTRY="gb"

# ways to store the data. Options are "csv", "site-db", "data-platform"
SAVE_METHOD="data-platform"

# Directory to save CSV files if save_method is "csv".
CSV_DIR=None

# ENTSO-E API key. Required for DE solar generation, and for NL day-ahead prices.
APIKEY_ENTSOE=

# Type of DE forecast to collect. Options are "day_ahead", "intraday", "current"
DE_FORECAST_TYPE="day_ahead"

# Optional Settings
LOG_LEVEL=INFO
BATCH_SIZE=1000

